@import "../../styles/mixins";
@import "../../styles/variables";

.drawerPaper {
  margin-right: 2rem;
  height: calc(100% - $headerHeight) !important;
  top: $headerHeight !important;
  @include respond-to(sm) {
    height: calc(100% - $headerMobileHeight) !important;
    top: $headerMobileHeight !important;
  }
}

.headerTypography {
  flex-grow: 1;

  @include respond-to(sm) {
    display: none;
  }
}
.unitsDrawerBox {
  @include flex-center;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
  align-items: center;
}
.actionsBox {
  bottom: 1rem;
  position: absolute;
  display: flex;
  gap: 2rem;
}
