$primary-color: #1976d2;
$white-color: #fff;

$drawerWidth: 240px;
$headerHeight: 64px;
$headerMobileHeight: 56px;

$font-stack: "Helvetica, sans-serif";

$breakpoint-sm: 576px;
$breakpoint-md: 768px;
