@import "../../styles/mixins";
@import "../../styles/variables";

.drawerNavigationBox {
  gap: 1rem;
  flex-direction: column;
  @include flex-center;
}

.drawer {
  gap: 1rem;
  flex-direction: column;
  @include flex-center;
  .MuiDrawer-paper {
    width: $drawerWidth;
  }
}
.drawerName {
  margin-top: 1rem !important;
}
